@page
@using System.Collections.Specialized
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h1><b>Title:</b>  @Model.Article.Title</h1>

<h5><b>AuthorId:</b> @Model.Article.AuthorId</h5>
<h5><b>Created:</b> @Model.Article.CreationDateTime</h5>
<h5><b>LastUpdated:</b> @Model.Article.LastUpdateDateTime</h5>

<h5><b>Status:</b> @Model.Article.ContentStatus?.Value</h5>

<p><b>Description</b> @Model.Article.Description</p>

<p><b>Body:</b> @Model.Article.Body</p>
  <div>
    <div class="sidebar">
      <div class="sidebar-header">
        <form>
          <input type="text" class="form-control search-form" placeholder="Search Articles..." aria-label="Search Articles" aria-describedby="basic-addon1">
        </form>
      </div>
      <nav class="sidebar-content">
        <div class="sidebar-title">
          <h1>
            <a href="#">
              Andrew On Software
            </a>
          </h1>
        </div>

        <div>
          <h5 class="img-title">Your Host</h5>
          <div class="img-content">
            <a href="article.html">
              <div class="profile">
                <img src="./images/profile.png">
              </div>
            </a>
            <p>
              I'm Andrew Fulton, a software developer.
              <a href="article.html">More about me.</a>
            </p>
          </div>
        </div>
      </nav>
    </div>
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="alternate-title">
        <h2>What's new?</h2>
      </div>
      <div class="content">
        <div class="article-preview">
          <p class="metadata">
            <span class="date">
              May 3, 2018
            </span>
            <span class="by">
              by
            </span>
            <span class="author">
              <a href="about.html">
                Andrew Fulton
              </a>
            </span>
          </p>
          <h3 class="article-title">
            <a href="article.html">
              Website Launch!
            </a>
          </h3>
          <div class="article-preview-content">
            <p>
              New product: Stack Overflow for Teams lets you direct questions to members of your own team, company, or organization.
              <span class="read-more">
                <a class="more-link" href="article.html">
                  Read More
                </a>
              </span>
            </p>
          </div>
        </div>
        <div class="article-preview">
          <p class="metadata">
            <span class="date">
              April 23, 2018
            </span>
            <span class="by">
              by
            </span>
            <span class="author">
              <a href="about.html">
                Andrew Fulton
              </a>
            </span>
          </p>
          <h3 class="article-title">
            <a href="article.html">
              Strange and Maddening Rules
            </a>
          </h3>
          <div class="article-preview-content">
            <p>
              There’s this popular idea among developers that when you face a problem with code, you should get out a rubber duck and explain,
              to the duck, exactly how your code was supposed to work.
              <span class="read-more">
                <a class="more-link" href="article.html">
                  Read more
                </a>
              </span>
            </p>
          </div>
        </div>
        <div class="article-preview">
          <p class="metadata">
            <span class="date">
              April 13, 2018
            </span>
            <span class="by">
              by
            </span>
            <span class="author">
              <a href="about.html">
                Andrew Fulton
              </a>
            </span>
          </p>
          <h3 class="article-title">
            <a href="article.html">
              A Dusting of Gamification
            </a>
          </h3>
          <div class="article-preview-content">
            <p>
              I had to think for a minute to realize that Stack Overflow has “gamification” too. Not a ton. Maybe a dusting of gamification,
              most of it around reputation.
              <span class="read-more">
                <a class="more-link" href="article.html">
                  Read more
                </a>
              </span>
            </p>
          </div>
        </div>
        <div class="article-preview">
          <p class="metadata">
            <span class="date">
              March 24, 2018
            </span>
            <span class="by">
              by
            </span>
            <span class="author">
              <a href="about.html">
                Andrew Fulton
              </a>
            </span>
          </p>
          <h3 class="article-title">
            <a href="article.html">
              The Artificial Intelligence Age
            </a>
          </h3>
          <div class="article-preview-content">
            <p>
              I want to catch you all up on some stuff but mostly I want to tell the story of Stack Overflow in a not-completely-disorganized
              way.
              <span class="read-more">
                <a class="more-link" href="article.html">
                  Read more
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="alternate-title">
        <h2>More Articles</h2>
      </div>
      <p>
        I am working on writing more articles, stay tuned!
      </p>
      <div class="large-space"></div>
      <nav class="article-navigation"></nav>
    </div>
    <!-- PAGE CONTENT END -->
  </div>

@section Scripts { 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
}
