@page "{id:int}"
@model Web.Pages.ArticleModel

@using Microsoft.AspNetCore.Identity
@using Domain.Entities.Blog
@using System.Security.Claims;
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = Model.Article.Title;
    var article = Model.Article;
    var category = Model.Category;

    var currentUser = User.FindFirstValue(ClaimTypes.NameIdentifier);

    var isAuthorViewingArticle = currentUser == article.AuthorId.ToString();
}


<p class="metadata">
    <span class="date">
        @article.CreationDateTime
    </span>
    <span class="by">
        by
    </span>
    <span class="author">
        <a href="about.html">
            @article.AuthorId
        </a>
    </span>
</p>
<h1 class="title">
    @article.Title
</h1>
@if (isAuthorViewingArticle)
{
    <div class="article-tags" style="padding-bottom: 10px">
        <a class="fa-edit" asp-page="/Edit/Article" asp-route-id="@article.ArticleId">
            Edit
        </a>
    </div>
}
<div class="article-tags">
    <ul class="tag-list">
        <li class="category">
            <a asp-page="/Category" asp-route-name="@category.Name" rel="category tag">
                @category.Name
            </a>
        </li>
    </ul>
</div>
<div class="article-reading-content">
    <p>
        @article.Body
    </p>
</div>
<div class="large-space"></div>
<nav class="article-navigation">
    <div class="previous">
        <a href="#" rel="previous">
            <span class="metadata">← Previous Article</span>
            <br /> Stack Overflow Age
        </a>
    </div>
    <div class="next">
        <a href="#" rel="next">
            <span class="metadata">Next Article →</span>
            <br /> Strange and Maddening Rules
        </a>
    </div>
</nav>

@if (Model.Comments.Any() || SignInManager.IsSignedIn(User))
{
    <br />
    <br />
    <h1>Comments</h1>
    <br />

    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_AddCommentPartial" model="Model.AddCommentModel" />
    }
}

@foreach (var comment in Model.Comments)
{
    <div style="padding-left: @Html.Raw(comment.Depth * 2.5)em">
        <partial name="_CommentPartial" model="@comment" />
    </div>
}

<nav class="article-navigation">
    @if (Model.CanShowPreviousComments)
    {
        <div class="previous">
            <a asp-page="/Article" asp-route-id="@Model.Article.ArticleId" asp-route-CurrentPage="@(Model.CurrentPage - 1)" rel="prev">
                <span class="metadata">← Comments</span>
                <br /> Previous
            </a>
        </div>
    }
    @if (Model.CanShowMoreComments)
    {
        <div class="next">
            <a asp-page="/Article" asp-route-id="@Model.Article.ArticleId" asp-route-CurrentPage="@(Model.CurrentPage + 1)" rel="next">
                <span class="metadata">Comments →</span>
                <br /> More
            </a>
        </div>
    }
</nav>

