
@model Domain.Entities.View.ArticleComment;

@inject Microsoft.AspNetCore.Identity.SignInManager<Domain.Entities.Blog.User> signInManager

<div class="comment p-sm-2">
    <p class="metadata">
        <span class="date">
            @Model.CreationDateTime.ToString("MMMM dd, yyyy")
        </span>
        <span class="by">
            by
        </span>
        <span class="author">
            <a asp-page="/User" asp-route-id="@Model.UserId">
                @Model.Username
            </a>
        </span>
    </p>
    <div class="article-reading-content" style="font-size: 12px;">
        <p>
            @if (Model.DeletedAt.HasValue)
            {
                @Model.Body
            }
            else
            {
                @Html.Raw("(DELETED)");
            }
        </p>
        @if (signInManager.IsSignedIn(User))
        { 
            <a style="text-decoration: underline" asp-page="/Article" asp-route-ParentCommentId="@Model.CommentId">
                Reply
            </a>
        }
    </div>
</div>